body{
  background-color: rgb(105, 162, 189);
}
.login-form {
	width: 29%;
  height: 430px;
	text-align: center;
	margin: 6rem auto;
	justify-content: center;
  border-radius: 20px;
  background-color: whitesmoke;
}
.register-form {
	width: 29%;
  height: 530px;
	text-align: center;
	margin: 2rem auto;
	justify-content: center;
  border-radius: 20px;
  background-color: whitesmoke;
}
input[type=text],[type= email],[type= password]{
  border: none;
 
  background-color: whitesmoke;
}
.form input {
	width: 50%;
	padding: 10px;
	margin: 10px;
  

}
.bttttn {
	width: 52%;
	padding: 10px;
	margin: 10px;
	background: #08b883;
	color: #fff;
	outline: none;
	border: none;
	border-radius: 20px;
	font-size: 18px;
	cursor: pointer;
}

.bttttn:hover {
	background: transparent;
	border: 2px solid #6cafa4;
	color: #6cafa4;
}
.lead {
	font-size: 25px;
}

.heading {
	font-size: 40px;
}

.link a {
	color: #6cafa4;
}